In [1]:
import pandas as pd
import os

# get the parent directory
parent_dir = os.path.dirname(os.getcwd())

# replace \ with / for windows
parent_dir = parent_dir.replace('\\', '/')

dir = parent_dir + '/split/'

print(dir)

c:/Users/Stone/Downloads/iot_23/split/

In [2]:
# read all the files in the directory
files = os.listdir(dir)

# print the file names with their index and size
for i in range(len(files)):
    print(i, files[i], os.path.getsize(dir + files[i]))

0 0.parquet 462142354
1 Attack.parquet 178828
2 C&C.parquet 601395
3 DDoS.parquet 222435996
4 FileDownload.parquet 8019
5 Okiru.parquet 833256353
6 Okiru_1.parquet 407330640
7 Okiru_2.parquet 426218360
8 part0.parquet 343467067
9 part1.parquet 344895651
10 part2.parquet 344911012
11 part3.parquet 334689811
12 part4.parquet 301627392
13 part5.parquet 298531860
14 part6.parquet 297586401
15 part7.parquet 290260670
16 part8.parquet 293245645
17 part9.parquet 309449506
18 PartOfAHorizontalPortScan.parquet 3160803099

In [3]:
ip_columns = ['id.orig_h', 'id.resp_h']
port_columns = ['id.orig_p', 'id.resp_p']
long_columns = ['conn_state', 'history']

In [4]:
df_1 = pd.read_parquet(dir + files[0])
df_2 = pd.read_parquet(dir + files[1])
df_3 = pd.read_parquet(dir + files[2])
df_4 = pd.read_parquet(dir + files[4])
df = pd.concat([df_1, df_2, df_3, df_4])

type = 'portscan'
print(df.shape)
df.head()

del df_1, df_2, df_3, df_4

(30927573, 10)

In [5]:
# print the unique values in proto column
print(df['proto'].value_counts())

tcp     30337730
udp       534948
icmp       54895
Name: proto, dtype: int64

In [6]:
def process_ipv6(df):
    for column in df.columns:
        # Count IPv6 addresses
        # ipv6_count = df[column].str.contains(':').sum()
        # print(f"Column '{column}': IPv6 addresses before replacement: {ipv6_count}")

        # Replace IPv6 addresses
        df[column] = df[column].where(~df[column].str.contains(':'), '0.0.0.0')

def split_ipv4(df):
    for column in df.columns:
        new_columns = df[column].str.split('.', expand=True)
        new_column_names = [f'{column}_{i}' for i in range(1, 5)]
        df[new_column_names] = new_columns

In [7]:
def label_port(port):
    if 0 <= port <= 1023:
        return 'wk'
    elif 1024 <= port <= 49151:
        return 'reg'
    elif 49152 <= port <= 65535:
        return 'dyn'
    else:
        return 'unk'

In [8]:
# split the df into dfferent dataframes based on the columns
ip_df = df[ip_columns]
port_df = df[port_columns]
long_df = df[long_columns]
df = df.drop(ip_columns + port_columns + long_columns, axis=1)

process_ipv6(ip_df)
split_ipv4(ip_df)

# drop ip columns
ip_df = ip_df.drop(ip_columns, axis=1)

In [9]:
for column in port_df.columns:
    port_df[column] = port_df[column].astype(int).apply(label_port)

In [10]:
# if the value contains string 'RST' in column conn_state, replace it with 'RST'
long_df.loc[long_df['conn_state'].str.contains('RST'), 'conn_state'] = 'RST'

# if the value contains string 'SH' in column conn_state, replace it with 'SH'
long_df.loc[long_df['conn_state'].str.contains('SH'), 'conn_state'] = 'SH'

# if the value is 'SF' in column conn_state, replace it with 'S0
long_df.loc[long_df['conn_state'] == 'SF', 'conn_state'] = 'S0'

# if the value is 'S1', 'S2', 'S3' in column conn_state, replace it with 'S'
long_df.loc[long_df['conn_state'].isin(['S1', 'S2', 'S3']), 'conn_state'] = 'S'

print(long_df['conn_state'].value_counts())

S0     30825713
OTH       56927
REJ       29836
RST       11812
S          2888
SH          397
Name: conn_state, dtype: int64

In [11]:
print(long_df['history'].value_counts())

from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize TfidfVectorizer with n-gram range
vectorizer = TfidfVectorizer(analyzer='char', lowercase=False)

# Fit and transform the history column
tfidf_matrix = vectorizer.fit_transform(long_df['history'])

# Convert the matrix to a DataFrame
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

S             30280939
D               499820
-                54895
Dd               35060
Sr               29616
                ...
ShAdDaFRr            1
^dDA                 1
ShADadtf             1
ShADdaf              1
ShADadtftF           1
Name: history, Length: 338, dtype: int64

In [12]:
# drop the history column
long_df = long_df.drop('history', axis=1)

tfidf_df.head()

,-,A,C,D,F,G,H,R,S,T,...,^,a,c,d,f,g,h,r,t,w
0,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.0,0.43866,0.0,0.253665,0.45202,0.0,0.0,0.0,0.0,0.0,...,0.0,0.448203,0.0,0.376637,0.442909,0.0,0.0,0.0,0.0,0.0
2,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0
3,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0

In [13]:
print(tfidf_df.shape)
print(long_df.shape)
print(ip_df.shape)
print(port_df.shape)
print(df.shape)

(30927573, 21)
(30927573, 1)
(30927573, 8)
(30927573, 2)
(30927573, 4)

In [14]:
# reset the index of the dataframes
tfidf_df.reset_index(drop=True, inplace=True)
long_df.reset_index(drop=True, inplace=True)
ip_df.reset_index(drop=True, inplace=True)
port_df.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [15]:
# concatenate the dataframes
df = pd.concat([ip_df, port_df, long_df, tfidf_df, df], axis=1)

# Set display options
pd.set_option('display.max_columns', None)

print(df.shape)
df.head()

(30927573, 36)

,id.orig_h_1,id.orig_h_2,id.orig_h_3,id.orig_h_4,id.resp_h_1,id.resp_h_2,id.resp_h_3,id.resp_h_4,id.orig_p,id.resp_p,conn_state,-,A,C,D,F,G,H,R,S,T,W,^,a,c,d,f,g,h,r,t,w,proto,orig_pkts,orig_ip_bytes,label
0,192,168,1,195,89,221,218,101,wk,wk,S0,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0,udp,2,152,0
1,192,168,1,1,192,168,1,195,reg,wk,S0,0.0,0.43866,0.0,0.253665,0.45202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.448203,0.0,0.376637,0.442909,0.0,0.0,0.0,0.0,0.0,tcp,400,26336,0
2,192,168,1,195,89,221,210,188,wk,wk,S0,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0,udp,2,152,0
3,192,168,1,195,5,1,56,123,wk,wk,S0,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0,udp,2,152,0
4,192,168,1,195,31,31,74,35,wk,wk,S0,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0,udp,2,152,0

In [16]:
category_cols = ['id.orig_p', 'id.resp_p', 'proto', 'conn_state']

# one hot encode the categorical columns
df = pd.get_dummies(df, columns=category_cols)

df.columns

Index(['id.orig_h_1', 'id.orig_h_2', 'id.orig_h_3', 'id.orig_h_4',
       'id.resp_h_1', 'id.resp_h_2', 'id.resp_h_3', 'id.resp_h_4', '-', 'A',
       'C', 'D', 'F', 'G', 'H', 'R', 'S', 'T', 'W', '^', 'a', 'c', 'd', 'f',
       'g', 'h', 'r', 't', 'w', 'orig_pkts', 'orig_ip_bytes', 'label',
       'id.orig_p_dyn', 'id.orig_p_reg', 'id.orig_p_wk', 'id.resp_p_dyn',
       'id.resp_p_reg', 'id.resp_p_wk', 'proto_icmp', 'proto_tcp', 'proto_udp',
       'conn_state_OTH', 'conn_state_REJ', 'conn_state_RST', 'conn_state_S',
       'conn_state_S0', 'conn_state_SH'],
      dtype='object')

In [17]:
df.head()

,id.orig_h_1,id.orig_h_2,id.orig_h_3,id.orig_h_4,id.resp_h_1,id.resp_h_2,id.resp_h_3,id.resp_h_4,-,A,C,D,F,G,H,R,S,T,W,^,a,c,d,f,g,h,r,t,w,orig_pkts,orig_ip_bytes,label,id.orig_p_dyn,id.orig_p_reg,id.orig_p_wk,id.resp_p_dyn,id.resp_p_reg,id.resp_p_wk,proto_icmp,proto_tcp,proto_udp,conn_state_OTH,conn_state_REJ,conn_state_RST,conn_state_S,conn_state_S0,conn_state_SH
0,192,168,1,195,89,221,218,101,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0,2,152,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0
1,192,168,1,1,192,168,1,195,0.0,0.43866,0.0,0.253665,0.45202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.448203,0.0,0.376637,0.442909,0.0,0.0,0.0,0.0,0.0,400,26336,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0
2,192,168,1,195,89,221,210,188,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0,2,152,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0
3,192,168,1,195,5,1,56,123,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0,2,152,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0
4,192,168,1,195,31,31,74,35,0.0,0.00000,0.0,0.558618,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.829425,0.000000,0.0,0.0,0.0,0.0,0.0,2,152,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0

In [18]:
# check the number of duplicated rows
print(df.duplicated().sum())

254070

In [19]:
# remove the duplicated rows
df = df.drop_duplicates()

df.shape

(30673503, 47)

In [20]:
# print the unique values in label column
print(df['label'].value_counts())

0               30668522
Attack              4412
C&C                  553
FileDownload          16
Name: label, dtype: int64

In [21]:
# df_0 is the dataframe with label 0
df_0 = df[df['label'] == '0']
# drop all the rows with label 0
df_m = df[df['label'] != '0']

# print the value counts of label column
print(df_0['label'].value_counts())
print(df_m['label'].value_counts())

0    30668522
Name: label, dtype: int64
Attack          4412
C&C              553
FileDownload      16
Name: label, dtype: int64

In [22]:
out_dir = parent_dir + '/encoded/'

# write the dataframe to csv
# df.to_csv(out_dir + type + '.csv', index=False)
# print(type + ' data has been written to ' + out_dir + type + '.csv')
df_0.to_csv(out_dir + 'benign' + '.csv', index=False)
df_m.to_csv(out_dir + 'attack' + '.csv', index=False)